### User-specific stuff:
/.git*
/.idea/workspace.xml
.dockerignore

### Other data
.gitignore
.phpstorm.meta.php
_ide_helper.php
node_modules/
UsersmynameAppDataRoamingnpm-cache

### Docker
Dockerfile
docker-compose.yaml
compose.yaml
compose-test-ci.yaml
compose-staging.yaml
compose-prod.yaml
